@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Eurostile';
	src: url('/fonts/eurostile.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Eurostile-Normal';
	src: url('/fonts/eurostile-normal.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Forum';
	src: url('/fonts/forum.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Eurostile';
	letter-spacing: 0.05rem;
	/* font-size: 18px; */
	@apply text-custom-text-primary-100 rounded-lg overflow-hidden;
}

.font-forum {
	font-family: 'Forum';
}

.header {
	-webkit-user-select: none;
	-webkit-app-region: drag;

	& > ul {
		-webkit-app-region: no-drag;
	}
}

.bloom {
	text-shadow: 0 0 2px #FFD446;
}

img {
	max-height: 100%;
}


/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: #1f2023;
}

::-webkit-scrollbar-track {
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb {
  background-color: #121212;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

/* ::-webkit-scrollbar-thumb:hover {
  background-color: ;
} */

.header-menu-button {
	cursor: pointer;
	width: 0.9rem;
	height: 0.9rem;
	position: relative;
	transition: scale 200ms;
	border-radius: 50%;

	&:hover {
		scale: 1.2;
	}
}