@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
	-webkit-user-select: none;
	-webkit-app-region: drag;

	& > ul {
		-webkit-app-region: no-drag;
	}
}


/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: #1f2023;
}

::-webkit-scrollbar-track {
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb {
  background-color: #121212;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

/* ::-webkit-scrollbar-thumb:hover {
  background-color: ;
} */

.header-menu-button {
	cursor: pointer;
	width: 0.9rem;
	height: 0.9rem;
	position: relative;
	transition: scale 200ms;
	border-radius: 50%;

	&:hover {
		scale: 1.2;
	}
}